<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configProtectedData />
	<connectionStrings />
	<appSettings>
		<add key="Element" value="-16776961" />
		<add key="Comment" value="-16777216" />
		<add key="Text" value="-16777216" />
		<add key="CDATA" value="-256" />
		<add key="Atribute" value="-16776961" />
		<add key="Key" value="-65536" />
		<add key="Value" value="-8388480" />
		<add key="ParseTime" value="6000" />
		<add key="EditorFont" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-16&quot;?&gt;&lt;FontSettings xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot;&gt;&lt;FontFamily&gt;Arial&lt;/FontFamily&gt;&lt;Size&gt;12&lt;/Size&gt;&lt;Style&gt;Regular&lt;/Style&gt;&lt;/FontSettings&gt;" />
		<add key="NodeFont" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-16&quot;?&gt;&lt;FontSettings xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot;&gt;&lt;FontFamily&gt;Arial&lt;/FontFamily&gt;&lt;Size&gt;12&lt;/Size&gt;&lt;Style&gt;Regular&lt;/Style&gt;&lt;/FontSettings&gt;" />
	</appSettings>
</configuration>